img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

li {
    float: left;
    padding: 10px;
    margin: 5px;
    background: #71bc37;
    border-radius: 10px;
}

body,
.body-wrap {
    width: 100% !important;
    height: 100%;
    background: lightgray;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

a {
    color: white;
    text-decoration: none;
}

.footer {
    background-color: #71bc37;
}

.text-center {
    text-align: center;
}

h2 {
    text-align: center
}



.text-left {
    text-align: left;
}

.button {
    display: inline-block;
    color: white;
    background: #71bc37;
    border: solid #71bc37;
    border-width: 10px 20px 8px;
    font-weight: bold;
    border-radius: 4px;
}

h1,
h2,
h3 {
    margin-bottom: 20px;
    line-height: 1.25;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}


p,
ul {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.container {
    display: block !important;
    clear: both !important;
    margin: 0 auto !important;
    max-width: 580px !important;
}

.container table {
    width: 100% !important;
    border-collapse: collapse;
}

.container .masthead {
    padding: 80px 0;
    background: #71bc37;
    color: white;
}

.container .masthead h1 {
    margin: 0 auto !important;
    max-width: 90%;
    text-transform: uppercase;
}

.container .content {
    background: white;
    padding: 30px 35px;
}
