body {
    background-image: url(fon.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

div {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    min-width: 250px;
    min-height: 250px;
    max-width: 500px;
    max-height: 500px;
}

a,
a:focus,
a:visited {
    color: darkslategrey;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all ease-in 200ms;
}

a:hover {
    border-bottom-color: black;
    color: black;
}

.wrapper {
    font-family: sans-serif;
    padding: 50px 0;

}
